<p id="notice"><%= notice %></p>

<h2><%= @club.name %></h2>

<p>photo</p>

<p>Saison en cours</p>
<p>Classement saison 2021</p>
<p>Ajouter un événement</p>
<p>Tous les événements du club</p>
<p>Approuver un membre</p>

<%= link_to 'Show', club_event_path(@club) %> |
<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %> |
<%= link_to 'New Event', new_club_event_path(@club) %>
