<p id="notice"><%= notice %></p>

<h1>Vos événements</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

 <!-- Carousel -->
  <h2>Saison</h2>
  <h2>Tournois</h2>

  <tbody>
    <% @events.each do |event| %>
      <td><%=event.name %></td>
      <td><%= link_to 'Show', club_event_path(@club , event) %></td>
      <td><%= link_to 'Edit', edit_club_event_path(@club, event) %></td>
      <td><%= link_to 'Destroy', club_event_path(@club , event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_club_event_path %>
